[submodule "yut-game-client"]
	path = yut-game-client
	url = https://github.com/moonsujo/yut-game-client
[submodule "client"]
	path = client
	url = https://beatrhinostudio-admin@bitbucket.org/beatrhinostudio/yut-game-client.git
